.maincounter-wrap {
    width: 300px;
    margin: 10px 0 10px 0;
    text-align: center;
    display: table-cell;
}

.card-table {
    margin: 10px 20% 10px 20%;
}

.last-updated {
    font-size:13px; 
    color:#999; 
    margin-top:5px; 
    text-align:center;
}

/* th.deaths-column{
    background-color:#ff4d4f !important; 
} */