.header-title {
    color: white;
    font-size: 21px;
    text-align: center;
}

.app-header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
  }